{
    "openapi": "3.0.3",
    "info": {
        "title": "Chunkr API",
        "description": "API service for document layout analysis and chunking to convert document into RAG/LLM-ready data.",
        "contact": {
            "name": "Lumina",
            "url": "https://lumina.sh",
            "email": "ishaan@lumina.sh"
        },
        "license": {
            "name": ""
        },
        "version": "0.0.0"
    },
    "servers": [
        {
            "url": "https://chunkr.ai",
            "description": "Production server"
        }
    ],
    "paths": {
        "/api/task": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Create Task",
                "description": "Queue a document for extraction and get a task ID back to poll for status",
                "operationId": "create_extraction_task",
                "requestBody": {
                    "description": "Multipart form encoded data to create an task",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UploadForm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Detailed information describing the task such that it's status can be polled for",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaskResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error related to creating the task",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/task/{task_id}": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Get Task",
                "description": "Keep track of the progress of an extraction task by polling this route with the task ID.",
                "operationId": "get_task_status",
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "path",
                        "description": "Id of the task to get.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detailed information describing the task",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaskResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error related to getting the task",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "Health"
                ],
                "summary": "Health Check",
                "description": "Confirmation that the service can respond to requests",
                "operationId": "health_check",
                "responses": {
                    "200": {
                        "description": "Confirmation that the service can respond to requests and the version of the service",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "BoundingBox": {
                "type": "object",
                "required": [
                    "top_left",
                    "top_right",
                    "bottom_right",
                    "bottom_left"
                ],
                "properties": {
                    "bottom_left": {
                        "type": "array",
                        "items": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    "bottom_right": {
                        "type": "array",
                        "items": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    "top_left": {
                        "type": "array",
                        "items": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    "top_right": {
                        "type": "array",
                        "items": {
                            "type": "number",
                            "format": "float"
                        }
                    }
                }
            },
            "Chunk": {
                "type": "object",
                "required": [
                    "segments",
                    "chunk_length"
                ],
                "properties": {
                    "chunk_length": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "segments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Segment"
                        }
                    }
                }
            },
            "Configuration": {
                "type": "object",
                "required": [
                    "model",
                    "ocr_strategy"
                ],
                "properties": {
                    "model": {
                        "$ref": "#/components/schemas/Model"
                    },
                    "ocr_strategy": {
                        "$ref": "#/components/schemas/OcrStrategy"
                    },
                    "target_chunk_length": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    }
                }
            },
            "Model": {
                "type": "string",
                "enum": [
                    "Fast",
                    "HighQuality"
                ]
            },
            "OCRResult": {
                "type": "object",
                "required": [
                    "bbox",
                    "text"
                ],
                "properties": {
                    "bbox": {
                        "$ref": "#/components/schemas/BoundingBox"
                    },
                    "confidence": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    },
                    "text": {
                        "type": "string"
                    }
                }
            },
            "OcrStrategy": {
                "type": "string",
                "enum": [
                    "Auto",
                    "All",
                    "Off"
                ]
            },
            "Segment": {
                "type": "object",
                "required": [
                    "segment_id",
                    "bbox",
                    "page_number",
                    "page_width",
                    "page_height",
                    "text_layer",
                    "segment_type"
                ],
                "properties": {
                    "bbox": {
                        "$ref": "#/components/schemas/BoundingBox"
                    },
                    "html": {
                        "type": "string",
                        "nullable": true
                    },
                    "image": {
                        "type": "string",
                        "nullable": true
                    },
                    "markdown": {
                        "type": "string",
                        "nullable": true
                    },
                    "ocr": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OCRResult"
                        },
                        "nullable": true
                    },
                    "ocr_text": {
                        "type": "string",
                        "nullable": true
                    },
                    "page_height": {
                        "type": "number",
                        "format": "float"
                    },
                    "page_number": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0
                    },
                    "page_width": {
                        "type": "number",
                        "format": "float"
                    },
                    "segment_id": {
                        "type": "string"
                    },
                    "segment_type": {
                        "$ref": "#/components/schemas/SegmentType"
                    },
                    "text_layer": {
                        "type": "string"
                    }
                }
            },
            "SegmentType": {
                "type": "string",
                "enum": [
                    "Title",
                    "Section header",
                    "Text",
                    "List item",
                    "Table",
                    "Picture",
                    "Caption",
                    "Formula",
                    "Footnote",
                    "Page header",
                    "Page footer"
                ]
            },
            "Status": {
                "type": "string",
                "enum": [
                    "Starting",
                    "Processing",
                    "Succeeded",
                    "Failed",
                    "Canceled"
                ]
            },
            "TaskResponse": {
                "type": "object",
                "required": [
                    "task_id",
                    "status",
                    "created_at",
                    "message",
                    "configuration"
                ],
                "properties": {
                    "configuration": {
                        "$ref": "#/components/schemas/Configuration"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "file_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "finished_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "input_file_url": {
                        "type": "string",
                        "nullable": true
                    },
                    "message": {
                        "type": "string"
                    },
                    "output": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Chunk"
                        },
                        "nullable": true
                    },
                    "page_count": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "status": {
                        "$ref": "#/components/schemas/Status"
                    },
                    "task_id": {
                        "type": "string"
                    },
                    "task_url": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "UploadForm": {
                "type": "object",
                "required": [
                    "file",
                    "model"
                ],
                "properties": {
                    "file": {
                        "type": "string",
                        "format": "binary"
                    },
                    "model": {
                        "$ref": "#/components/schemas/Model"
                    },
                    "ocr_strategy": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/OcrStrategy"
                            }
                        ],
                        "default": "Auto",
                        "nullable": true
                    },
                    "target_chunk_length": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Health",
            "description": "Endpoint for checking the health of the service."
        },
        {
            "name": "Task",
            "description": "Endpoints for creating and getting task status"
        }
    ]
}